.wave span {
    display: inline-block;
    color: #36a2b0ba;
    text-transform: uppercase;
    animation: wave 3s infinite;
    animation-delay: calc(.1s * var(--i));
    
}

@keyframes wave {
    0%,40%,100% {
    transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}

.hamburger {
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.sidebar.active {
    position: absolute;
    margin-top: 4.3em;
    visibility: visible!;
    width: 65%;
    height: 73%;
    z-index: 999;
    }