.wave span {
    display: inline-block;
    color: #36a2b0ba;
    text-transform: uppercase;
    animation: wave 3s infinite;
    animation-delay: calc(.1s * var(--i));
    
}

@keyframes wave {
    0%,40%,100% {
    transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}